In [1]:
import pandas as pd
import numpy as np

Question 1
What's the version of Pandas that you installed?

You can get the version information using the __version__ field

In [2]:
pd.__version__

'2.0.3'

In [6]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 2
How many columns are in the dataset?

In [7]:
df.shape

(20640, 10)

Question 3
Which columns in the dataset have missing values?

In [11]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Question 4
How many unique values does the ocean_proximity column have?

In [15]:
df['ocean_proximity'].nunique()

5

Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [23]:
df.groupby('ocean_proximity')['median_house_value'].mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

Question 6
1. Calculate the average of total_bedrooms column in the dataset.

In [30]:
average_bedrooms = df['total_bedrooms'].mean().round(decimals=3)
average_bedrooms

537.871

2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

In [31]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(average_bedrooms)

3. Now, calculate the average of total_bedrooms again.

In [32]:
df['total_bedrooms'].mean().round(decimals=3)

537.871

4. Has it changed?<br>
Answer: <strong>No

Question 7
1. Select all the options located on islands.

In [40]:
island_houses_df = df.loc[df['ocean_proximity'] == 'ISLAND']
island_houses_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

2. Select only columns housing_median_age, total_rooms, total_bedrooms.

In [74]:
island_houses_age_roms_df = island_houses_df.loc[:,['housing_median_age','total_rooms', 'total_bedrooms']]

island_houses_age_roms_df

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

3. Get the underlying NumPy array. Let's call it X.

In [79]:
X = island_houses_age_roms_df.to_numpy()
print(X)

[[  27. 1675.  521.]
 [  52. 2359.  591.]
 [  52. 2127.  512.]
 [  52.  996.  264.]
 [  29.  716.  214.]]

In [80]:
X.shape

(5, 3)

4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [81]:
transposed_X = X.T
transposed_X

array([[  27.,   52.,   52.,   52.,   29.],
       [1675., 2359., 2127.,  996.,  716.],
       [ 521.,  591.,  512.,  264.,  214.]])

In [82]:
transposed_X.shape

(3, 5)

In [83]:
XTX = transposed_X@X
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [84]:
XTX.shape

(3, 3)

5. Compute the inverse of XTX.

In [85]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

6. Create an array y with values [950, 1300, 800, 1000, 1300]

In [86]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [67]:
y.shape

(5,)

7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [52]:
XTX_inv.shape

(5, 5)

In [55]:
transposed_X.shape

(3, 5)

In [89]:
matrix_multi = XTX_inv@transposed_X
w = matrix_multi@y
w

array([23.12330961, -1.48124183,  5.69922946])

alternative way to calculate w

In [87]:
w = np.dot(np.dot(XTX_inv, transposed_X), y) 
w

array([23.12330961, -1.48124183,  5.69922946])